&lt;div class=&quot;block article-thumb text&quot;&gt;
&Tab;&lt;div class=&quot;b-thumb&quot;&gt;
    &lt;p class=&quot;caption&quot;&gt;Jane Doe &lt;span&gt;/&lt;/span&gt; &lt;time datetime=&quot;2013-04-06T12:32+00:00&quot;&gt;2 weeks ago&lt;/time&gt;&lt;/p&gt;
&Tab;&Tab;{{&gt; atoms-square }}
    &lt;div class=&quot;b-text&quot;&gt;
      &lt;p class=&quot;category&quot;&gt;Category&lt;/p&gt;
      &lt;h3 class=&quot;headline&quot;&gt;{{ headline.short }}&lt;/h3&gt;
      &lt;!-- &lt;p&gt;
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      &lt;/p&gt; --&gt;
      &lt;a href=&quot;#&quot;&gt;read more&lt;/a&gt;
    &lt;/div&gt;
&Tab;&lt;/div&gt;
&lt;/div&gt;
