&lt;div class=&quot;page&quot; id=&quot;vendor&quot;&gt;
&Tab;{{# emergency }}
&Tab;{{&gt; molecules-alert }}
&Tab;{{/ emergency }}
&Tab;&lt;div role=&quot;main&quot; class=&quot;main&quot;&gt;
    &lt;span class=&quot;category&quot;&gt;Category&lt;/span&gt;
    &lt;h1&gt;Vendor name&lt;/h1&gt;
    &lt;span class=&quot;category&quot;&gt;Relevant for&lt;/span&gt;
&Tab;&Tab;&lt;section id=&quot;relevant_school&quot; class=&quot;relevant_school&quot;&gt;
&Tab;&Tab;&Tab;&lt;!--Grid 3up for school icons--&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;g g-3up&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;gi&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#smu&quot;&gt;
            &lt;img src=&quot;../../images/glance/biaya.svg&quot; alt=&quot;Biaya&quot; width=&quot;30%&quot; /&gt;
          &lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;gi&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#ntu&quot;&gt;
            &lt;img src=&quot;../../images/glance/biaya.svg&quot; alt=&quot;Biaya&quot; width=&quot;30%&quot; /&gt;
          &lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;gi&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;#nus&quot;&gt;
            &lt;img src=&quot;../../images/glance/biaya.svg&quot; alt=&quot;Biaya&quot; width=&quot;30%&quot; /&gt;
          &lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/section&gt;
&Tab;&Tab;&lt;section id=&quot;vendor_contact&quot; class=&quot;vendor_contact split&quot;&gt;
&Tab;&Tab;&Tab;&lt;!--Grid 2up for cta--&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;g &quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;gi&quot;&gt;
          &lt;h2&gt;About the Vendor&lt;/h2&gt;
          &lt;p&gt;
    &Tab;&Tab;&Tab;&Tab;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    &Tab;&Tab;&Tab;&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;gi&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;h2&gt;Contact Vendor&lt;/h2&gt;
          &lt;img src=&quot;../../images/glance/biaya.svg&quot; alt=&quot;Biaya&quot; /&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;

&Tab;&Tab;&lt;/section&gt;
&Tab;&Tab;&lt;section id=&quot;about&quot; class=&quot;about split&quot;&gt;
&Tab;&Tab;&Tab;&lt;h2&gt;About school&lt;/h2&gt;
&Tab;&Tab;&Tab;&lt;p class=&quot;lead&quot;&gt;
&Tab;&Tab;&Tab;&Tab;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
&Tab;&Tab;&Tab;&lt;/p&gt;
&Tab;&Tab;&Tab;&lt;p&gt;
&Tab;&Tab;&Tab;&Tab;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
&Tab;&Tab;&Tab;&lt;/p&gt;
&Tab;&Tab;&Tab;&lt;!--Grid 2up for cta--&gt;
&Tab;&Tab;&Tab;&lt;!-- &lt;div class=&quot;g g-2up &quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;gi&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;gi&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Students say:&lt;/p&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;tags g g-3up&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;gi&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;button class=&quot;btn disabled&quot;&gt;TAGS&lt;/button&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;gi&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;button class=&quot;btn disabled&quot;&gt;TAGS&lt;/button&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;gi&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;button class=&quot;btn disabled&quot;&gt;TAGS&lt;/button&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;gi&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;button class=&quot;btn disabled&quot;&gt;TAGS&lt;/button&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;gi&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;button class=&quot;btn disabled&quot;&gt;TAGS&lt;/button&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;gi&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;button class=&quot;btn disabled&quot;&gt;TAGS&lt;/button&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt; --&gt;
&Tab;&Tab;&lt;/section&gt;
&Tab;&Tab;&lt;section id=&quot;similar&quot;&gt;
&Tab;&Tab;&Tab;&lt;h2&gt;Similar schools&lt;/h2&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;g g-3up&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;gi&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-media-block }}
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;gi&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-media-block }}
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;gi&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-media-block }}
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/section&gt;
&Tab;&Tab;&lt;section id=&quot;gallery&quot; class=&quot;gallery&quot;&gt;
&Tab;&Tab;&Tab;&lt;h2&gt;Gallery&lt;/h2&gt;
&Tab;&Tab;&Tab;{{&gt; organisms-carousel }}
&Tab;&Tab;&Tab;&lt;a href=&quot;#gallery&quot; class=&quot;btn&quot;&gt;View more in gallery&lt;/a&gt;
&Tab;&Tab;&lt;/section&gt;
&Tab;&Tab;&lt;section id=&quot;map&quot; class=&quot;map&quot;&gt;
&Tab;&Tab;&Tab;&lt;h2&gt;Getting there&lt;/h2&gt;
&Tab;&Tab;&Tab;{{&gt; atoms-landscape-16x9 }}
&Tab;&Tab;&Tab;&lt;!-- &lt;iframe src=&quot;//www.google.com/maps/embed/v1/place?q=Harrods,Brompton%20Rd,%20UK
&Tab;&Tab;&Tab;&Tab;&amp;zoom=17
&Tab;&Tab;&Tab;&Tab;&amp;key=AIzaSyDuRdvEW5-mj9EhldExSpynm9MAiUXAK2s&quot;&gt;
&Tab;&Tab;&Tab;&lt;/iframe&gt;  --&gt;
&Tab;&Tab;&Tab;&lt;h4&gt;Nearest MRT&lt;/h4&gt;
&Tab;&Tab;&lt;/section&gt;
&Tab;&Tab;&lt;section id=&quot;vendors&quot;&gt;
&Tab;&Tab;&Tab;&lt;h2&gt;Vendors&lt;/h2&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;g g-3up&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;gi&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-media-block }}
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;gi&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-media-block }}
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;gi&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-media-block }}
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/section&gt;
&Tab;&Tab;&lt;section id=&quot;rel-articles&quot;&gt;
&Tab;&Tab;&Tab;&lt;h2&gt;Related articles&lt;/h2&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;g g-3up&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;gi&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-article-thumb }}
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;gi&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-article-thumb }}
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class=&quot;gi&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;{{&gt; molecules-article-thumb }}
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/section&gt;
&Tab;&Tab;&lt;a class=&quot;uplink&quot; href=&quot;#school&quot;&gt;Up&lt;/a&gt;
&Tab;&lt;/div&gt;&lt;!--End role=main--&gt;
&Tab;{{&gt; organisms-footer }}
&lt;/div&gt;
