&lt;p class=&quot;caption&quot;&gt;A caption can be applied to an image, quote, form field, etc. &lt;span&gt;/&lt;/span&gt; &lt;time datetime=&quot;2013-04-06T12:32+00:00&quot;&gt;2 weeks ago&lt;/time&gt;&lt;/p&gt;
