&lt;p class=&quot;neuzeit&quot;&gt;Primary font: &quot;Neuzeit-grotesk&quot;, &quot;Futura&quot;, sans-serif;&lt;/p&gt;
&lt;p class=&quot;neuzeit&quot;&gt;&lt;strong&gt;Primary font bold: &quot;Neuzeit-grotesk&quot;, &quot;Futura&quot;, sans-serif;&lt;/strong&gt;&lt;/p&gt;
&lt;p class=&quot;neuzeit light&quot;&gt;Primary font light: &quot;Neuzeit-grotesk&quot;, &quot;Futura&quot;, sans-serif;&lt;/p&gt;
&lt;p class=&quot;font-secondary&quot;&gt;Secondary font: &quot;Nimbus-sans&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;&lt;/p&gt;
&lt;p class=&quot;font-secondary&quot;&gt;&lt;em&gt;Secondary font italic: &quot;Nimbus-sans&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;&lt;/em&gt;&lt;/p&gt;
&lt;p class=&quot;font-secondary&quot;&gt;&lt;strong&gt;Secondary font bold: &quot;Nimbus-sans&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;&lt;/strong&gt;&lt;/p&gt;
