&lt;div class=&quot;block block-hero&quot;&gt;
&Tab;&lt;div class=&quot;b-thumb&quot;&gt;
    &lt;a href=&quot;#&quot; class=&quot;inner&quot;&gt;
&Tab;&Tab;&Tab;{{&gt; atoms-landscape-16x9 }}
      &lt;div class=&quot;b-text&quot;&gt;
        &lt;h2 class=&quot;headline&quot;&gt;{{ headline.short }}&lt;/h2&gt;
        &lt;h3&gt;
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        &lt;/h3&gt;
        &lt;!-- &lt;button class=&quot;btn cta&quot;&gt;CTA&lt;/button&gt; --&gt;
      &lt;/div&gt;
    &lt;/a&gt;
&Tab;&lt;/div&gt;
&lt;/div&gt;
