&lt;div class=&quot;block block-thumb&quot;&gt;
    &lt;a href=&quot;#&quot; class=&quot;b-inner&quot;&gt;
  &Tab;&Tab;&lt;div class=&quot;b-thumb&quot;&gt;
  &Tab;&Tab;&Tab;{{&gt; atoms-square }}
        &lt;div class=&quot;b-text&quot;&gt;
          &lt;p class=&quot;category&quot;&gt;Category&lt;/p&gt;
          &lt;h3 class=&quot;headline&quot;&gt;{{ headline.short }}&lt;/h3&gt;
        &lt;/div&gt;
  &Tab;&Tab;&lt;/div&gt;
  &Tab;&lt;/a&gt;
&lt;/div&gt;
