&lt;!-- Begin Footer --&gt;
&lt;footer class=&quot;footer&quot; role=&quot;contentinfo&quot;&gt;
&Tab;&lt;div class=&quot;lc&quot;&gt;
&Tab;&Tab;&lt;!-- &lt;p class=&quot;copyright&quot;&gt;&amp;copy; 2015 Company Name. All rights reserved.&lt;/p&gt; --&gt;
&Tab;&Tab;&lt;ul class=&quot;inline-list nav-footer delta&quot;&gt;
&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#&quot;&gt;About Us&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Contact Us&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Join Us&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&Tab;&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Privacy Policy&lt;/a&gt;&lt;/li&gt;
&Tab;&Tab;&lt;/ul&gt;
&Tab;&lt;/div&gt;
&lt;/footer&gt;
&lt;!-- End Footer --&gt;
