&lt;ul class=&quot;sg-colors&quot;&gt;
&Tab;&lt;li&gt;
&Tab;&Tab;&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #FFFFFF;&quot;&gt;&lt;/span&gt;
&Tab;&Tab;&lt;span class=&quot;sg-label&quot;&gt;#FFFFFF&lt;/span&gt;
&Tab;&lt;/li&gt;
&Tab;&lt;li&gt;
&Tab;&Tab;&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #F4F5F0;&quot;&gt;&lt;/span&gt;
&Tab;&Tab;&lt;span class=&quot;sg-label&quot;&gt;#F4F5F0&lt;/span&gt;
&Tab;&lt;/li&gt;
&Tab;&lt;li&gt;
&Tab;&Tab;&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #BFBFBF;&quot;&gt;&lt;/span&gt;
&Tab;&Tab;&lt;span class=&quot;sg-label&quot;&gt;#BFBFBF&lt;/span&gt;
&Tab;&lt;/li&gt;
&Tab;&lt;li&gt;
&Tab;&Tab;&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #888888;&quot;&gt;&lt;/span&gt;
&Tab;&Tab;&lt;span class=&quot;sg-label&quot;&gt;#888888&lt;/span&gt;
&Tab;&lt;/li&gt;
&Tab;&lt;li&gt;
&Tab;&Tab;&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #444444;&quot;&gt;&lt;/span&gt;
&Tab;&Tab;&lt;span class=&quot;sg-label&quot;&gt;#444444&lt;/span&gt;
&Tab;&lt;/li&gt;
&Tab;&lt;li&gt;
&Tab;&Tab;&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #222222;&quot;&gt;&lt;/span&gt;
&Tab;&Tab;&lt;span class=&quot;sg-label&quot;&gt;#222222&lt;/span&gt;
&Tab;&lt;/li&gt;
&Tab;&lt;li&gt;
&Tab;&Tab;&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #F22613;&quot;&gt;&lt;/span&gt;
&Tab;&Tab;&lt;span class=&quot;sg-label&quot;&gt;#F22613&lt;/span&gt;
&Tab;&lt;/li&gt;
&Tab;&lt;li&gt;
&Tab;&Tab;&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #CF000F;&quot;&gt;&lt;/span&gt;
&Tab;&Tab;&lt;span class=&quot;sg-label&quot;&gt;#CF000F&lt;/span&gt;
&Tab;&lt;/li&gt;
&Tab;&lt;li&gt;
&Tab;&Tab;&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #000000;&quot;&gt;&lt;/span&gt;
&Tab;&Tab;&lt;span class=&quot;sg-label&quot;&gt;#000000&lt;/span&gt;
&Tab;&lt;/li&gt;
&lt;/ul&gt;
