&lt;div class=&quot;text&quot;&gt;
&Tab;&lt;h3 class=&quot;lead&quot;&gt;
&Tab;&Tab;This is an example of a long lead/intro text (more than 20 words, not advised). A lead, or lede paragraph in literature is the opening paragraph of an article, essay, news story or book chapter. Often called the lead, it usually occurs together with the headline or title. It precedes the main body of the article, and it gives the reader the main idea of the story. In both spellings, the word rhymes with the word need.
&Tab;&lt;/h3&gt;

&Tab;&lt;h3 class=&quot;lead&quot;&gt;
&Tab;&Tab;This is an example of an ideal lead/intro text (15-25 words). A lead, or lede paragraph in literature is the opening paragraph of an article.
&Tab;&lt;/h3&gt;

&Tab;&lt;p&gt;
&Tab;&Tab;&lt;em&gt;
&Tab;&Tab;&Tab;Emphasize: Body text is the term for the text forming the main content of a book, magazine, web page or other printed matter.
&Tab;&Tab;&lt;/em&gt;
&Tab;&lt;/p&gt;

&Tab;&lt;p&gt;
&Tab;&Tab;&lt;strong&gt;
&Tab;&Tab;&Tab;Strong: Body text is the term for the text forming the main content of a book, magazine, web page or other printed matter.
&Tab;&Tab;&lt;/strong&gt;
&Tab;&lt;/p&gt;

&Tab;&lt;p&gt;&lt;a href=&quot;#&quot;&gt;Link: Body text is the term for the text forming the main content of a book, magazine, web page or other printed matter.&lt;/a&gt;&lt;/p&gt;
&Tab;&lt;p&gt;&lt;a href=&quot;#&quot;&gt;&lt;strong&gt;Link: Body text is the term for the text forming the main content of a book, magazine, web page or other printed matter.&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;
&Tab;&lt;p&gt;&lt;a href=&quot;#&quot;&gt;&lt;em&gt;Link: Body text is the term for the text forming the main content of a book, magazine, web page or other printed matter.&lt;/em&gt;&lt;/a&gt;&lt;/p&gt;

&Tab;&lt;p&gt;
&Tab;&Tab;Bold: body text is the term for the &lt;b&gt;text forming the main content of a book&lt;/b&gt;, magazine, web page or other printed matter.
&Tab;&lt;/p&gt;

&Tab;&lt;p&gt;
&Tab;&Tab;Italic: body text is the term for the &lt;em&gt;text forming the main content of a book&lt;/em&gt;, magazine, web page or other printed matter.
&Tab;&lt;/p&gt;

&Tab;&lt;p&gt;
&Tab;&Tab;Underline: body text is the term for the &lt;u&gt;text forming the main content of a book&lt;/u&gt;, magazine, web page or other printed matter.
&Tab;&lt;/p&gt;

&Tab;&lt;p&gt;&lt;del&gt;This text is deleted&lt;/del&gt; and &lt;ins&gt;This text is inserted&lt;/ins&gt;&lt;/p&gt;

&Tab;&lt;!-- &lt;p&gt;&lt;s&gt;This text has a strikethrough&lt;/s&gt;&lt;/p&gt; --&gt;

&Tab;&lt;p&gt;Superscript: A&lt;sup&gt;2&lt;/sup&gt;&lt;/p&gt;

&Tab;&lt;p&gt;Subscript: H&lt;sub&gt;2&lt;/sub&gt;O&lt;/p&gt;

&Tab;&lt;p&gt;&lt;small&gt;This small text is small for for fine print, etc.&lt;/small&gt;&lt;/p&gt;

&Tab;&lt;p&gt;Abbreviation: &lt;abbr title=&quot;HyperText Markup Language&quot;&gt;HTML&lt;/abbr&gt;&lt;/p&gt;

&Tab;&lt;!-- &lt;p&gt;Keybord input: &lt;kbd&gt;Cmd&lt;/kbd&gt;&lt;/p&gt; --&gt;

&Tab;&lt;p&gt;&lt;q cite=&quot;https://developer.mozilla.org/en-US/docs/HTML/Element/q&quot;&gt;This text is a short inline quotation&lt;/q&gt;&lt;/p&gt;

&Tab;&lt;p&gt;&lt;cite&gt;This is a citation&lt;/cite&gt;&lt;/p&gt;

&Tab;&lt;p&gt;The &lt;dfn&gt;dfn element&lt;/dfn&gt; indicates a definition.&lt;/p&gt;

&Tab;&lt;p&gt;The &lt;mark&gt;mark element&lt;/mark&gt; indicates a highlight&lt;/p&gt;

&Tab;&lt;!-- &lt;p&gt;&lt;code&gt;This is what inline code looks like.&lt;/code&gt;&lt;/p&gt;

&Tab;&lt;p&gt;&lt;samp&gt;This is sample output from a computer program&lt;/samp&gt;&lt;/p&gt;

&Tab;&lt;p&gt;The &lt;var&gt;variable element&lt;/var&gt;, such as &lt;var&gt;x&lt;/var&gt; = &lt;var&gt;y&lt;/var&gt;&lt;/p&gt; --&gt;

&Tab;&lt;p&gt;
&Tab;&Tab;Footnote: Body text is the term for the text forming the main content&lt;a name=&quot;footnote1&quot; href=&quot;#fn1&quot;&gt;&lt;sup&gt;1&lt;/sup&gt;&lt;/a&gt;
&Tab;&lt;/p&gt;

&Tab;&lt;div class=&quot;footnotes&quot;&gt;
&Tab;&Tab;&lt;ol&gt;
&Tab;&Tab;&Tab;&lt;li id=&quot;fn1&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;p&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;Footnotes are notes placed at the bottom of a page. They cite references or comment on a designated part of the text above it.&lt;a href=&quot;#footnote1&quot;&gt;&hookleftarrow;︎&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/p&gt;
&Tab;&Tab;&Tab;&lt;/li&gt;
&Tab;&Tab;&lt;/ol&gt;
&Tab;&lt;/div&gt;

&Tab;&lt;figcaption class=&quot;zeta&quot;&gt;
&Tab;&Tab;This is an example of a multi-line image caption. A caption is a brief description accompanying an illustration. You know the online photo of your baby cousin face-planting into a cake? The description underneath it that says &quot;Hugh&apos;s First Birthday&quot; &mdash; that&apos;s the caption. The Latin root of caption is capito, which means &quot;seizing&quot; or &quot;holding.&quot;
&Tab;&lt;/figcaption
&lt;/div&gt;&lt;!--end .text--&gt;
